body{
	background-color: #FFFFCC;
	font-family: Helvetica, Arial;
}

.container{
	width: 50%;
	margin-left: 25%; 

}

.container fieldset{
	border-radius: 7px;
}

.container fieldset label{
	display: inline-block;;
	min-width: 160px;
}

input{
	border-radius: 3px;
}

input[type="text"]{
	min-width: 160px;
}

input[type="button"]{
	padding: 3px 6px;
	border: 1px solid grey;
	background-color: white;
}

input[type="reset"]{
	padding: 3px 6px;
	border: 1px solid grey;
	background-color: white;
}

div.label{
	text-align: center;
}

.field-group{
	margin-top: 5px;
}

.warning, .obligatory{
	color: red;
}

.two-cols{
	display: inline-block;
	width: 49%;
}

.chart-column-wrapper{
	position: relative;
	display: inline-block;
	min-height: 650px;
	width: 22.5%;
	margin: 0 1%;
}

.chart-column{
	position: absolute;
	display: inline-block;
	width: 100%;
	bottom: 0;
}

#custom_menu{
	position: fixed;
	width: 150px;
	height: 150px;
	background-color: white;
	color:silver;
	visibility: hidden;
}

.chart{
	position: relative;
	min-height: 650px;
	margin-top: 30px;
	align-content: space-around;
	width: 60%;
	margin-left: 20%
}

.alt{
	visibility: hidden;
	min-height: 20px;
}