.menu-item, .dropdown{
    display: inline-block;
    margin: 5px 6px;
    background-color: #f9f9f9;
    border: 1px solid grey;
    border-radius: 1px;
    padding: 5px 6px;
}

.dropdown {
    position: relative;
    cursor: pointer;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style-type: none;
}

.dropdown-content > li:hover{
    background-color: grey;
}

.dropdown:hover{
  background-color: #a9a9a9;
}
